.about{
    height: 720px;
    background-color: antiquewhite;
}
.details{
    color: #3d4440;
    display: grid;
    grid-template-columns: 40% 60%; 
    font-size: 18px;
    margin-top: 50px;

}
.description{
    margin-left: 40px;
    margin-right: 40px;
}
.details span {
    margin-bottom: 20px; /*add spaces between line*/
    display: block; /*add spaces between line*/
  }
   