.home{
    background-color: rgb(44, 50, 83);   
    height: 740px;
    color: white;
    display: flex;
}
.content{
  display: flex;
  margin-top: 120px;
}
.tectContent{
  flex: 1;
  margin-top: 50px;
}
.post{
    color:#EAB308;
  }
.image{
  height: 400px;
  width: 300px;
  margin-left: 200px;
  margin-top: 50px;
  border-radius: 0px 0px 0px 200px;
}  